* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}
.top-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('https://wise.wika.co.id/storage/news/istana_neg_577_0507132732.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-warning {
  background-color: #f8aa3e !important;
  border-color: #f8aa3e !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: #e89b2e !important; /* Versi sedikit lebih gelap */
  border-color: #e89b2e !important;
}
.img-product {
  height: 500px; /* Atur tinggi tetap */
  object-fit: cover;
  width: 100%;
}
.img-nav {
  height: 130px;
}
@media screen and (max-width: 576px) {
  .img-nav {
    height: 70px;
  }
  .img-product {
    height: 180px; /* atau sesuaikan sendiri */
  }
}
